body{
    font-family: lucida sans;
    position: relative;
    text-align: left;
  }
  header {
    height:auto;
    padding:10px 0;
    text-align: left;
  }
  h4{
      text-align: right ;
  }
  h1{
  text-align: center;
  text-size-adjust: 100px;
  }
  nav.list{
      color: green;
  }
  
  div .div-list .list a{
    
    padding: 15px;
    margin: 10px 0;
    background-color:#EAF2E5;
    background-color: #F0EBE6";
    
  }
  
button{
    color: white;
    background-color: green;
}
